<div class="login">
  this is the login page
  <div>
      <table>
          <tr>
            <td>
              <label>UserName</label>
            </td>
            <td>
              <input type='text' placeholder="Enter user name"/>
            </td>
          </tr>
          <tr>
              <td>
                <label>Password</label>
              </td>
              <td>
                <input type='password' placeholder="Enter user name"/>
              </td>
            </tr>
      </table>
  </div>
</div>