<div class="leftNav">
  <p>
    You’ve always been by my side since we were little kids. From youngsters with scraped knees to 
    teenagers with broken hearts, we’ve always had each other’s backs. You’re the best friend anyone
     can ask for, and I just want to thank you for being with me through all this time. 
     I love you best friend!
  </p>
    <p>
    You’ve always been by my side since we were little kids. From youngsters with scraped knees to 
    teenagers with broken hearts, we’ve always had each other’s backs. You’re the best friend anyone
     can ask for, and I just want to thank you for being with me through all this time. 
     I love you best friend!
  </p>
    <p>
    You’ve always been by my side since we were little kids. From youngsters with scraped knees to 
    teenagers with broken hearts, we’ve always had each other’s backs. You’re the best friend anyone
     can ask for, and I just want to thank you for being with me through all this time. 
     I love you best friend!
  </p>
    <p>
    You’ve always been by my side since we were little kids. From youngsters with scraped knees to 
    teenagers with broken hearts, we’ve always had each other’s backs. You’re the best friend anyone
     can ask for, and I just want to thank you for being with me through all this time. 
     I love you best friend!
  </p>
    <p>
    You’ve always been by my side since we were little kids. From youngsters with scraped knees to 
    teenagers with broken hearts, we’ve always had each other’s backs. You’re the best friend anyone
     can ask for, and I just want to thank you for being with me through all this time. 
     I love you best friend!
  </p>
</div>